Benjamin Schmid <bene.schmid@gmail.com>
Jean-Yves Tinevez <jean-yves.tinevez@pasteur.fr> <jeanyves.tinevez@gmail.com>
Mark Longair <mhl@pobox.com> <longair@ini.phys.ethz.ch>
Stephan Saalfeld <saalfelds@janelia.hhmi.org> <saalfeld@tomancak-pc-4.(none)>
